backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
dj-database-url==0.4.1
Django==1.9.10 # pyup: >=1.9,<1.10
django-allauth==0.28.0
django-extensions==1.6.7
django-filter==0.13.0
djangorestframework==3.3.3
gnureadline==6.3.3
gunicorn==19.6.0
ipdb==0.10.1
ipython
ipython-genutils==0.1.0
Markdown==2.6.6
# Pinned to mock 1.0.1 because of setuptools version conflict
# https://github.com/testing-cabal/mock/issues/261#issuecomment-120880453
mock==1.0.1
oauthlib==2.0.1
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
python-openid==2.2.5
raven==5.21.0
requests==2.10.0
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
whitenoise==3.2
