<table>
    <thead>
        <th>User</th>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in user_data %}
            <tr>
                {% for datum in row %}
                    <td>{{ datum }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>
                <strong>Total</strong>
            </td>
            {% for total in totals %}
                <td>{{ total }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
